/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: #000;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

p {
  margin: 1em 0;
}

table {
  font-size: inherit;
  font: 100%;
}

/* Site */

.site {
  font-size: 110%;
  width: 50em;
  margin: 6em auto 2em auto;
  line-height: 1.5em;
  text-align: left;
}

.site a, .site a:visited {
  color: #00a;
  text-decoration: none;
}

.site a:hover {
  text-decoration: underline;
}

.site a.selected {
  color: #a0a;
}

  .header {
    text-align: center;
    margin-bottom: 3em;
  }
  
  .header h1 {
    font-size: 3em;
  }

  .menu ul {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
    list-style-type: none;
  }
  
  .menu ul li {
    display: inline;
    padding-right: 1em;
  }
  
  .docs_menu ul {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 1.5em;
    list-style-type: none;
  }
  
  .docs_menu ul li {
    display: inline;
    padding-right: 1em;
  }
  
  .query_menu p {
    margin-bottom: .5em;
  }
  
  .query_menu a {
    margin-right: 1em;
  }
  
  .content p {
    text-align: justify;
  }
  
  .content h2 {
    margin: 1em 0;
  }
  
  .content strong {
    font-style: bold;
  }
  
  .content li {
    list-style-type: none;
    margin-left: 1em;
  }
  
  .content pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: .4em;
  }
  
  .content code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }
  
  .content pre code {
    border: none;
  }  
  
  .content h2 {
    font-size: 1em;
    font-style: italic;
  }
