<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>FleetDB{% if page.title %} : {{ page.title }}{% endif %}</title>
     <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>

  <body>
    <div class="site">
      <div class="header">
        <h1>FleetDB</h1>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/"
                 {% if page.home_tab %}class="selected"{% endif %}>
            Home
          </a></li>
          <li><a href="/docs/introduction.html"
                 {% if page.docs_tab %}class="selected"{% endif %}>
            Documentation
          </a></li>
          <li><a href="http://github.com/mmcgrana/fleetdb">Development</a></li>
        </ul>
      </div>
      
      {% if page.docs_tab %}
      <div class="docs_menu">
        <ul>
          <li><a href="/docs/introduction.html"
                 {% if page.docs_tab == "in" %}class="selected"{% endif %}>
            Introduction
          </a></li>
          <li><a href="/docs/queries.html"
                 {% if page.docs_tab == "qr" %}class="selected"{% endif %}>
            Query Reference
          </a></li>
          <li><a href="/docs/clients.html"
                 {% if page.docs_tab == "cl" %}class="selected"{% endif %}>
            Client Libraries
          </a></li>
          <li><a href="/docs/server.html"
                 {% if page.docs_tab == "sc" %}class="selected"{% endif %}>
            Server CLI
          </a></li>
          <li><a href="/docs/protocol.html"
                 {% if page.docs_tab == "p" %}class="selected"{% endif %}>
            Protocol
          </a></li>
          <li><a href="/docs/implementation.html"
                 {% if page.docs_tab == "i" %}class="selected"{% endif %}>
            Implementation
          </a></li>

        </ul>
      </div>
      {% endif %}
      
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
